@CHARSET "ISO-8859-1";
.reveal .fa {
  font-family: 'FontAwesome';
}
.mo_stats_table{
	border-spacing:0;
}
.mo_stats_header_cell{
	font-size:12px !important;
	font-weight:bold !important;
	text-align:center !important;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5 !important;
}
.mo_stats_cell{
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5 !important;
	text-align:center;
	font-size:10px !important;
}
.column-impressions{
	width:10%;
}
.column-visits{
	width:10%;
}
.column-conversions{
	width:10%;
}
.column-cr{
	width:10%;
}

.mo_meta_box_stats_table th{
	width:43px !important;
	font-size:14px !important;
}
.mo_meta_box_stats_table td{
	font-size:12px !important;
}

.mo_status_paused td, .mo_status_paused td{
	color:#78B6C8;
	font-style:italic;
	
}
.mo_status_paused td a, .mo_status_paused td a{
	color:#78B6C8;
	font-style:italic;
	
}
.a_b_tabs{
	padding-bottom:0px !important;
}

#mo_sp_settings_container label{
	margin-right:10px;
	
}
#mo_sp_settings_container li{
	margin-bottom:10px;
	overflow:hidden;
}